@import url("/css/variables.css");

.bg-w-no-u {
  color: var(--white);
  text-decoration: none;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.skyblue{
  background-color: skyblue;
}